{%extends "base.html"%}
{% load static %}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybank</title>
    <link rel="stylesheet" href="{% static 'css/password_reset.css'%}">
</head>
<body>
    <form action="password_reset" method="POST" onsubmit="return validateForm()">
        {%csrf_token%}
    <div class="container">
      <h1>Change Password</h1><br>
      <p>Please fill details to Reset Password.</p>
      <hr>

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Your Username or E-mail" name="username" id="username" required>

      <label for="account_number"><b>Account Number</b></label>
      <input type="number" min="0" placeholder="Enter Account Number" name="account_number" id="account_number" required>
      
      <label for="new_password"><b>New Password</b><h6 id="pswerr" style="color: red;"></h6></label>
      <input type="password" placeholder="Enter New Password" name="new_password" id="new_password" oninput="passwordValidation()" required>
      
      <label for="confirm_password"><b>Confirm Password</b></label>
      <input type="password" placeholder="Enter Confirm Password" name="confirm_password" id="confirm_password" required>
      {% if messages %}
      {% for message in messages %}
      <b style="color: red;">{{message}}</b>
      {% endfor %}
      {% endif %}
      <br>
      <button id="reset" type="submit">Reset Password</button>      
      </div>
    </form>
</body>
<script src="{% static 'JS/password_reset.js'%}"></script>
</html>
{%endblock content %}