*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: rgb(209, 199, 181);
}

nav{
    background: rgb(247, 119, 27);
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
    text-align: center;
}
nav li{
    float: left;
    padding: 30px 50px;
    
}
#you{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 3px;
    margin: 15px 5px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;

}
#container{
    display: flex;
    flex-direction: row;
}
#deatails_container{
    display: block;
    width: 500px;
    height: 528px;
    background-color: rgb(175, 197, 167);
    align-items: center;
    padding: 100px;
}
#deatails_container li{
    padding: 10px 10px;
    color:rgba(12, 14, 12, 0.527);
    font-weight: bold;
}
#deatails_container img{
    align-items: center;
    padding: 0px;
    width: 150px;
    height: 150px;
    margin-top: -50px;
    border-radius: 50%;

}
#deatails_container ul{
    margin-top: 30px;
    margin-left: 50px;
}
#transfer_container{
    padding: 5px;
    width: fit-content;
    height: fit-content;
    border: solid 2px rgb(241, 218, 8);
    align-items: center;
    margin: auto;
    margin-left: 200px;
    background-color: aquamarine;
}
#transfer_container ul li{
    padding: 7px;
}
#transferbtn{
    float: right;
    padding: 4px;
    margin-right:10px;
    font-size: 15px;
    
}

#logout_link{
    float: right;
}
#transaction_container{
    display: flex;
    flex-direction: column;
}
#benificiary_container{
    height: 50%;
    width: 137%;
    background-color: aqua;
}
#add_benificiary_button{
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}
#benificiary_form_container{
    
    margin: auto;
    width: 350px;
    height: fit-content;
    margin-top: 50px;
}
#benificiary_button{
    float: right;
    margin-right: 5px;
}
#benificiary_form_container li{
    float: right;
    padding: 5px;
}
#edit_benificiary_button{
    position: absolute;
    margin-left: -90px;
    margin-top: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

